/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

/* Color Variables */
:root {
    --white: #fff;
    --black: #222;
    --lavender: #d361e2;
    --grey1: #f0f0f0;
    --grey2: #e9d7d3;
  }
  
  /* Basic Reset */
  *{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    background-color: var(--white);
    color: var(--black);
    font-weight: 400;
    font-style: normal;
  }
  
  a {
    text-decoration: none;
    color: var(--black);
  }
  
  li {
    list-style: none;
  }
  
  .container {
    max-width: 114rem;
    margin: 0 auto;
    padding: 0 3rem;
  }
  
  .d-flex {
    display: flex;
    align-items: center;
  }
  
  /* 
  
  -----------Header------------
  
  */
  
  .header {
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
  }
  
  .top-nav {
    background-color: var(--lavender);
    font-size: 1.3rem;
    color: var(--white);
  }
  
  .top-nav div {
    justify-content: space-between;
    height: 4.5rem;
  }
  
  .top-nav a {
    color: var(--white);
    padding: 0 0.5rem;
  }
  
  /* 
  
 ----------------- Navigation----------------
 
  */
  .navigation {
    height: 6rem;
    line-height: 6rem;
  }
  
  .nav-center {
    justify-content: space-between;
  }
  
 
  
  .nav-center .nav-item:not(:last-child) {
    margin-right: 0.5rem;
  }
  
  .nav-center .nav-link {
    font-size: 1.8rem;
    padding: 1rem;
  }
  
  .nav-center .nav-link:hover {
    color: var(--lavender);
  }
  
  
  
  @media only screen and (max-width: 768px) {
    .nav-list {
      position: fixed;
      top: 12%;
      left: -35rem;
      flex-direction: column;
      align-items: flex-start;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
      background-color: white;
      height: 100%;
      width: 0%;
      max-width: 35rem;
      z-index: 100;
      transition: all 300ms ease-in-out;
    }
  
    .nav-list.open {
      left: 0;
      width: 100%;
    }
  
    .nav-list .nav-item {
      margin: 0 0 1rem 0;
      width: 100%;
    }
  
    .nav-list .nav-link {
      font-size: 2rem;
      color: var(--black);
    }
  
  
    .top-nav div {
      justify-content: center;
      height: 3rem;
    }
  }
  

  .product-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 2rem;
  }
  
  .product-item {
    position: relative;
    width: 27rem;
    margin: 0 auto;
    margin-bottom: 3rem;
  }
  
  .product-thumb img {
    width: 100%;
    height: 31rem;
    object-fit: cover;
    transition: all 500ms linear;
  }
  
  .product-info {
    padding: 1rem;
    text-align: center;
  }
  
  .product-info span {
    display: inline-block;
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 1rem;
  }
  
  .product-info a {
    font-size: 1.5rem;
    display: block;
    margin-bottom: 1rem;
    transition: all 300ms ease;
  }
  
  .product-info a:hover {
    color: var(--lavender);
  }
  
 
  
  .product-item .overlay {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    width: 100%;
  }
  
  .product-item .overlay::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: 300ms ease-out;
  }
  
  .product-item:hover .overlay::after {
    visibility: visible;
    opacity: 1;
  }
  
  .product-item:hover .product-thumb img {
    transform: scale(1.1);
  }
  
  .product-item .discount {
    position: absolute;
    top: 1rem;
    left: 1rem;
    background-color: var(--lavender);
    padding: 0.5rem 1rem;
    color: var(--white);
    border-radius: 2rem;
    font-size: 1.5rem;
  }
  
  @media only screen and (max-width: 567px) {
    .product-center {
      max-width: 100%;
      padding: 0 1rem;
    }
  
    .product-item {
      width: 40%;
      margin-bottom: 3rem;
    }
  
    .product-thumb img {
      height: 20rem;
    }
  
    .product-item {
      margin-right: 2rem;
    }
  
  }
  
  /* ---------------Footer---------------- */
  .footer {
    padding: 7rem 1rem;
    background-color: var(--lavender);
  }
  
  footer .row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 99.6rem;
    margin: 0 auto;
  }
  
  .footer .col {
    flex-direction: column;
    color: var(--white);
    align-items: flex-start;
  }
  
  .footer .col:last-child {
    flex-direction: row;
    justify-content: center;
  }
  
  .footer .col:last-child span {
    font-size: 2.5rem;
    margin-right: 0.5rem;
    color: var(--white);
  }
  
  .footer .col a {
    color: var(--white);
    font-size: 1.5rem;
    padding: 0.5rem;
    font-weight: 300;
  }
  
  .footer .col h4 {
    margin-bottom: 1rem;
  }
  
  @media only screen and (max-width: 567px) {
    footer .row {
      grid-template-columns: 1fr;
      row-gap: 3rem;
    }
  }
  
  
  /* All Products */
  .section .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4rem;
  }
  
  .all-products .top select {
    font-family: 'Poppins', sans-serif;
    width: 20rem;
    padding: 1rem;
    border: 1px solid #ccc;
    appearance: none;
    outline: none;
  }
  
  form {
    position: relative;
    z-index: 1;
  }
  
  form span {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    font-size: 2rem;
    z-index: 0;
  }
  
  @media only screen and (max-width: 768px) {
    .all-products .top select {
      width: 15rem;
    }
  }
  
  /* Pagination */
  .pagination {
    display: flex;
    align-items: center;
    padding: 3rem 0 5rem 0;
  }
  
  .pagination span {
    display: inline-block;
    padding: 1rem 1.5rem;
    border: 1px solid var(--green);
    font-size: 1.8rem;
    margin-bottom: 2rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
  }
  
  .pagination span:hover {
    border: 1px solid var(--lavender);
    background-color: var(--lavender);
    color: #fff;
  }
  
  /* Cart Items */
  .cart {
    margin: 10rem auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .cart-info {
    display: flex;
    flex-wrap: wrap;
  }
  
  th {
    text-align: left;
    padding: 0.5rem;
    color: #fff;
    background-color: var(--lavender);
    font-weight: normal;
  }
  
  td {
    padding: 1rem 0.5rem;
  }
  
  td input {
    width: 5rem;
    height: 3rem;
    padding: 0.5rem;
  }
  
  td a {
    color: orangered;
    font-size: 1.4rem;
  }
  
  td img {
    width: 8rem;
    height: 8rem;
    margin-right: 1rem;
  }
  
  .total-price {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-top: 2rem;
  }
  
  .total-price table {
    border-top: 3px solid var(--lavender);
    width: 100%;
    max-width: 35rem;
  }
  
  td:last-child {
    text-align: right;
  }
  
  th:last-child {
    text-align: right;
  }
  
  .checkout {
    display: inline-block;
    background-color: var(--lavender);
    color: white;
    padding: 1rem;
    margin-top: 1rem;
  }
  
  @media only screen and (max-width: 567px) {
    .cart-info p {
      display: none;
    }
  }
  
  
  /* Login Form */
  .login-form {
    padding: 5rem 0;
    max-width: 50rem;
    margin: 5rem auto;
  }
  
  .login-form form {
    display: flex;
    flex-direction: column;
  }
  
  .login-form form h1 {
    margin-bottom: 1rem;
  }
  .login-form form p {
    margin-bottom: 2rem;
  }
  
  .login-form form label {
    margin-bottom: 1rem;
  }
  
  .login-form form input {
    border: 1px solid #ccc;
    outline: none;
    padding: 1.5rem 0;
    text-indent: 1rem;
    font-size: 1.6rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
  }
  
  .login-form form input::placeholder {
    font-size: 1.6rem;
    color: #222;
  }
  
  .login-form form .buttons {
    margin-top: 1rem;
  }
  
  .login-form form button {
    outline: none;
    border: none;
    font-size: 1.6rem;
    padding: 1rem 3rem;
    margin-right: 1.5rem;
    background-color: var(--lavender);
    color: white;
    cursor: pointer;
  }
  
  .login-form form p a {
    color: dodgerblue;
  }